{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block monTitre %}Page d'accueil{% endblock %}

{% block body %}

	<div class="container d-flex justify-content-between">
		{% for pays in voyages %}
			<td>
				<a href="{{ path ('afficherVoyage', {'pays' : pays.pays|lower}) }}">
				<img src="{{asset('images/pays/' ~ pays.pays ~ '.jpg')}}"></a>
			</td>
		{% endfor %}
	</div>
{% endblock %}